{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
	<form id="loginForm" class="card">
		<center><h3>Login</h3></center>
		<label for="username">Username:</label>
		<input type="text" name="username" />
		<label for="password">Password:</label>
		<input type="password" name="password" />
		<input type="submit" value="Login" />
		<div id=errors></div>
	</form>
{% endblock %}